{block content}
<title n:block="title">Stránka nebyla nalezena</title>
<div class="col-md-8">
    <div class="card">
        <div class="card-header">
            <h4>Chyba 404!</h4>
        </div>
        <div class="card-body">
            <p>Požadovaná stránka nebyla nalezena!</p>
        </div>
    </div>
</div>
