<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    {*Bootstrap*}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"
            integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9"
            crossorigin="anonymous"></script>

    {*jQuery*}
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    {ifset scripts}{include scripts}{/ifset}

    {*Styly*}
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/style.css">

    <title>{ifset title}{include title|stripHtml} | {/ifset}RTsoft</title>
</head>

<body id="background">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 offset-md-1">
            <div class="list-group">
                <a n:href="Homepage:listprojects" n:class="'list-group-item list-group-item-action', $presenter->isLinkCurrent('Homepage:listprojects') || $presenter->isLinkCurrent('Homepage:editproject')? 'list-group-item-active'">Přehled projektů</a>
                <a n:href="Homepage:addproject" n:class="'list-group-item list-group-item-action', $presenter->isLinkCurrent('Homepage:addproject') ? 'list-group-item-active'">Přidat projekt</a>
            </div>
        </div>
        {include content}
    </div>
</div>

{block scripts}
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
{/block}
</body>
</html>
