{block content}
    <title n:block="title">Přidat projekt</title>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4>Přidat projekt</h4>
            </div>
            <div class="card-body">
                <div  n:foreach="$flashes as $flash" n:class="'alert',$flash->type" role="alert">
                    {$flash->message}
                </div>
                {control projectForm}
            </div>
        </div>
    </div>
{/block content}
