{block content}
    <title n:block="title">Přehled projektů</title>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4>Přehled projektů</h4>
            </div>
            <div class="card-body">
                <div n:foreach="$flashes as $flash" n:class="'alert fade show',$flash->type" role="alert">
                    {$flash->message}
                </div>
                {control tableComponent}
            </div>
        </div>
    </div>
{/block content}
