{block content}
    {snippet table}
        <div n:foreach="$flashes as $flash" n:class="'alert',$flash->type" role="alert">
            {$flash->message}
        </div>
        <div class="row mb-2">
            <div class="col-md-10">
                <input type="text" name="search" id="search" placeholder="Vyhledávat..." class="form-control">
            </div>
            <div class="col-md-2">
                <input type="button" name="btnSearch" id="btnSearch" onclick="search();" value="Vyhledat"
                       class="form-control btn btn-success">
                <input type="hidden" value="{$componentName}" name="componentName" id="componentName">
            </div>
        </div>

        <script type="text/javascript">
            function search() {
                let text = $('#search').val();
                let search = $('#componentName').val() + '-text=' + text;


                $.nette.ajax({
                    'url': {link search!},
                    'data': search
                });
            }
            // $()
        </script>

        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th>
                    <a n:href="sort! id" n:class="ajax, $idActive">ID
                        <span n:if="$order && $idActive">&uarr;</span><span n:if="!$order && $idActive">&darr;</span>
                    </a>
                </th>
                <th>
                    <a n:href="sort! nazev" n:class="ajax, $nazevActive">Název
                        <span n:if="$order && $nazevActive">&uarr;</span><span n:if="!$order && $nazevActive">&darr;</span>
                    </a>
                </th>
                <th>
                    <a n:href="sort! datum" n:class="ajax, $datumActive">Datum odevzdání
                        <span n:if="$order && $datumActive">&uarr;</span><span n:if="!$order && $datumActive">&darr;</span>
                    </a>
                </th>
                <th>
                    <a n:href="sort! typ" n:class="ajax, $typActive">Typ
                        <span n:if="$order && $typActive">&uarr;</span><span n:if="!$order && $typActive">&darr;</span>
                    </a>
                </th>
                <th>
                    <a n:href="sort! web" n:class="ajax, $webActive">Webový projekt
                        <span n:if="$order && $webActive">&uarr;</span><span n:if="!$order && $webActive">&darr;</span>
                    </a>
                </th>
                <th>Možnosti</th>
            </tr>
            </thead>
            <tbody>
            {foreach $projects as $project}
                <tr>
                    <td>{$project->id}</td>
                    <td>{$project->nazev}</td>
                    <td>{$project->datum|date:'%d.%m.%Y'}</td>
                    <td>{$project->ref('TYP')->nazev}</td>
                    <td>{$project->web == 1 ? 'Ano' : 'Ne'}</td>
                    <td>
                        <a href="{plink Homepage:editproject $project->id}" class="btn btn-sm btn-success">Upravit</a>
                        <a href="{plink Homepage:deleteproject $project->id}"
                           onclick="return confirm('Opravdu chcete projekt {$project->nazev} smazat?');"
                           class="btn btn-sm btn-danger">Smazat</a>
                    </td>
                </tr>
            {/foreach}
            </tbody>
        </table>
    {/snippet}
{/block}

{block scripts}
    {*Nette Ajax*}
    <script src="{$basePath}/js/nette.ajax.js"></script>
    <script>
        $(function () {
            $.nette.init();
        });
    </script>
{/block}

