.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-group{
    padding-top: 10px;
}

.list-group-item{
    color: #FAFAFA;
    background-color: #1a1a1a;
}

.list-group-item:hover{
    color: #FAFAFA;
    background-color: #93c020;
}

.list-group-item:focus{
    color: #FAFAFA;
    background-color: #1a1a1a;
}

.list-group-item-active{
    background-color: #48ad32;
}

#background {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(46, 197, 109, 0.9), rgba(175, 212, 79, 0.9)) center top;
    position: relative;
}

.card {
    background: #00973f;
    margin-top: 10px;
}

.card-header {
    background: #48ad32;
    color: #FAFAFA;
}

.card-body{
    color: #FAFAFA;
    background-color: #1a1a1a;
}

.bg-dark{
    color: #FAFAFA;
}

a{
    color: #FAFAFA;
}

a:hover{
    color: #FAFAFA;
    text-underline-color: #FAFAFA;
}

.text{
    color: #FAFAFA;
}

.text-control{
    color: #1a1a1a;;
}

.success{
    background: #48ad32;
    color: #FAFAFA;
}

.danger{
    background: #c9302c;
    color: #FAFAFA;
}

.info{
    background: #e0a800;
    color: #FAFAFA;
}

table thead th{
    color: #00973f;
}

table thead th a{
    color: #00973f;
}

table thead th a:hover{
    color: #48ad32;
}

.column-selected{
    color: #48ad32;
    text-decoration: underline;
}
